# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/

# IDE
.vscode/
.idea/

# logs
*.log
.terraform/
commands.txt
README copy*
terraform.tfvars
global-bundle*
terraform.tfstate 
terraform.tfstate.backup